<nav id="navbar">
    <div id="logo">
       <img src="geetan.jpg" alt="myonlinemeal.com">
    </div>
    <ul>
         <li class="item"><a href="#home">home</a></li>
         <li class="item"><a href="#services-container">services</a></li>
         <li class="item"><a href="#client-section">Our clients</a></li>
         <li class="item"><a href="/contact/geetan">contact us</a></li>
         <li class="item"><a href="/about">about us</a></li>
    </ul>
  </nav>