<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/checkform" method="post">
    <label for="">name</label>
    <input type="text" name="naam" id=""> <br>
    <label for="">last name</label>
    <input type="text" name="Ln" id="">  <br>
    <label for="">enter email</label>
    <input type="email" name="ee" id="">
    <label for="">hobbies:-</label>
    <label for="">cricket</label> <input type="checkbox" value="cricket" name="hobby" id="">
    <label for="">music</label> <input type="checkbox" value="music" name="hobby" id="">
    <label for="">football</label> <input type="checkbox" value="football" name="hobby" id=""> <br>
    <button type="submit">submit</button>
  </form>
</body>

</html>