<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h2>enter to fetch student data</h2>
          

            <form action="/student" method="post">
                   <label for="">student name</label>
                   <input type="text" name="sname" id="">   <br>
                   <label for="">student age</label>
                   <input type="text" name="sage" id="">   <br>
                   <label for="">student school</label>
                   <input type="text" name="sschool" id="">   <br>
                   <label for="">student class</label>
                   <input type="text" name="sclass" id="">   <br>
                   <button type="submit">submit</button>
            </form>
</body>
</html>